Repository subspace/subspace-docs, pull requests merged in 2023-12, with the labels that each got.

#358 Fix broken link for cli-install
  docusaurus.config.js
Labels: bug

#361 Update Pulsar `v0.7.0-alpha` -> `v0.7.1-alpha`
  docs/farming-&-staking/farming/pulsar/platforms/_linux.mdx
  docs/farming-&-staking/farming/pulsar/platforms/_macos.mdx
  docs/farming-&-staking/farming/pulsar/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_windows.mdx
Labels: version

#365 Update `gemini-3g-2023-dec-01` to `gemini-3g-2023-dec-11`
  docs/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
Labels: version

#373 Update `gemini-3g-2023-dec-11` to `gemini-3g-2023-dec-15`
  docs/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
Labels: version

#366 Added Monthly Functionality to Leaderboard.js & Fixed Leaderboard not generating Bug
  .github/scripts/leaderboard.js
  .gitignore
  src/components/TranslationLeaderboard/index.css
  src/components/TranslationLeaderboard/index.jsx
Labels: enhancement

#379 Update `gemini-3g-2023-dec-18-2` -> `gemini-3g-2023-dec-20`
  docs/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
Labels: version

#372 Fix and improve operator docker guide
  docs/farming-&-staking/staking/operators.mdx
  versioned_docs/version-latest/farming-&-staking/staking/operators.mdx
Labels: do not merge

#381 Fix Leaderboard.js & Node Caching Function
  .github/workflows/main.yml
  src/components/TranslationLeaderboard/index.jsx
Labels: bug

#382 Update `gemini-3g-2023-dec-20` -> `gemini-3g-2023-dec-22`
  docs/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
Labels: version
