Repository subspace/subspace-docs, pull requests merged in 2023-09, with the labels that each got.

#243 Version update
  .github/workflows/notification.yml
  docs/protocol/pulsar.mdx
  docs/protocol/substrate-cli.mdx
  versioned_docs/version-latest/protocol/pulsar.mdx
  versioned_docs/version-latest/protocol/substrate-cli.mdx
Labels: documentation

#247 Version update for `gemini-3f-2023-sep-11` & `v0.6.7-alpha`
  docs/protocol/pulsar.mdx
  docs/protocol/substrate-cli.mdx
  versioned_docs/version-latest/protocol/pulsar.mdx
  versioned_docs/version-latest/protocol/substrate-cli.mdx
Labels: version

#248 Update notification.yml environment variable.
  .github/workflows/notification.yml
Labels: bug

#249 Update `gemini-3f-2023-sep-11` to `gemini-3f-2023-sep-13-2`
  docs/protocol/substrate-cli.mdx
  versioned_docs/version-latest/protocol/substrate-cli.mdx
Labels: version

#250 Update Pulsar to `v0.6.8-alpha`
  docs/protocol/pulsar.mdx
  versioned_docs/version-latest/protocol/pulsar.mdx
Labels: version

#220 Add developers docs
  docs/developers/_category_.json
  docs/developers/block_explorer.md
  docs/developers/faucet.md
  docs/developers/foundry_guide.md
  docs/developers/general-information.md
  docs/developers/hardhat_guide.md
  docs/developers/intro.md
  docs/developers/local_development.md
  docs/developers/quick_start.md
  docs/developers/remix_guide.md
  docs/developers/setting-up-metamask.md
  docs/protocol/wallets/polkadot.md
  docusaurus.config.js
  src/css/custom.css
  static/img/developers/BlockExplorer-1.png
  static/img/developers/Discord-1.png
  static/img/developers/Discord-2.png
  static/img/developers/Foundry-1.png
  static/img/developers/Foundry-2.png
  static/img/developers/Foundry-3.png
  static/img/developers/Hardhat-1.png
  static/img/developers/Hardhat-2.png
  static/img/developers/Hardhat-3.png
  static/img/developers/Hardhat-4.png
  static/img/developers/Hardhat-5.png
  static/img/developers/Hardhat-6.png
  static/img/developers/Intro-1.png
  static/img/developers/MetaMask-1.png
  static/img/developers/MetaMask-2.png
  static/img/developers/MetaMask-3.png
  static/img/developers/MetaMask-4.png
  static/img/developers/MetaMask-5.png
  static/img/developers/MetaMask-6.png
  static/img/developers/MetaMask-7.png
  static/img/developers/MetaMask-8.png
  static/img/developers/MetaMask-9.png
  static/img/developers/Remix-1.png
  static/img/developers/Remix-10.png
  static/img/developers/Remix-11.png
  static/img/developers/Remix-12.png
  static/img/developers/Remix-2.png
  static/img/developers/Remix-3.png
  static/img/developers/Remix-4.png
  static/img/developers/Remix-5.png
  static/img/developers/Remix-6.png
  static/img/developers/Remix-7.png
  static/img/developers/Remix-8.png
  static/img/developers/Remix-9.png
  versioned_docs/version-latest/developers/_category_.json
  versioned_docs/version-latest/developers/block_explorer.md
  versioned_docs/version-latest/developers/faucet.md
  versioned_docs/version-latest/developers/foundry_guide.md
  versioned_docs/version-latest/developers/general-information.md
  versioned_docs/version-latest/developers/hardhat_guide.md
  versioned_docs/version-latest/developers/intro.md
  versioned_docs/version-latest/developers/local_development.md
  versioned_docs/version-latest/developers/quick_start.md
  versioned_docs/version-latest/developers/remix_guide.md
  versioned_docs/version-latest/developers/setting-up-metamask.md
  versioned_docs/version-latest/protocol/wallets/polkadot.md
Labels: do not merge, breaking-change

#251 Refactored functions related to getting release information
  .github/workflows/notification.yml
Labels: bug

#253 Version update for `gemini-3f-2023-sep-21` & `v0.6.9-alpha`
  docs/protocol/pulsar.mdx
  docs/protocol/substrate-cli.mdx
  versioned_docs/version-latest/protocol/pulsar.mdx
  versioned_docs/version-latest/protocol/substrate-cli.mdx
Labels: version

#254 Fix broken link for Pulsar downloads
  versioned_docs/version-latest/protocol/pulsar.mdx
Labels: bug, version

#263 Version update for `gemini-3f-2023-sep-25` & `v0.6.10-alpha`
  docs/protocol/pulsar.mdx
  docs/protocol/substrate-cli.mdx
  versioned_docs/version-latest/protocol/pulsar.mdx
  versioned_docs/version-latest/protocol/substrate-cli.mdx
Labels: version

#269 Fix Formatting & If Logic
  .github/workflows/notification.yml
Labels: bug
