Repository subspace/subspace-docs, pull requests merged in 2023-11, with the labels that each got.

#322 Update RPC Endpoint to `wss://rpc-1.gemini-3g.subspace.network`
  docs/protocol/wallets/subwallet.md
  versioned_docs/version-latest/protocol/wallets/subwallet.md
Labels: bug

#327 Update `gemini-3g-2023-nov-9` -> `gemini-3g-2023-nov-13`
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
Labels: version

#328 Fix broken link and admonition error
  docs/Develop/Nova/setting-up-metamask.md
  docs/Farming & Staking/Staking/operators.mdx
  versioned_docs/version-latest/Develop/Nova/setting-up-metamask.md
  versioned_docs/version-latest/Farming & Staking/Staking/operators.mdx
Labels: bug

#331 Update `gemini-3g-2023-nov-14` -> `gemini-3g-2023-nov-15`
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
Labels: version

#335 Update Version `gemini-3g-2023-nov-15` -> `gemini-3g-2023-nov-16`
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
Labels: version

#341 Update `gemini-3g-2023-nov-19` -> `gemini-3g-2023-nov-20`
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  docs/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_linux.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_macos.mdx
  versioned_docs/version-latest/Farming & Staking/Farming/Advanced-Cli/Platforms/_windows.mdx
Labels: version

#344 Update `gemini-3g-2023-nov-20` -> `gemini-3g-2023-nov-21`
  docs/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
Labels: version

#352 Update Pulsar `v0.6.14-alpha` -> `v0.7.0-alpha`
  docs/farming-&-staking/farming/pulsar/platforms/_linux.mdx
  docs/farming-&-staking/farming/pulsar/platforms/_macos.mdx
  docs/farming-&-staking/farming/pulsar/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_linux.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_macos.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_windows.mdx
Labels: version

#350 Update operator registration for the newest releases
  docs/farming-&-staking/staking/operators.mdx
  versioned_docs/version-latest/farming-&-staking/staking/operators.mdx
Labels: do not merge, breaking-change

#354 update_key_generation_instruction
  docs/farming-&-staking/staking/operators.mdx
  static/img/doc-imgs/operators-staking/RPC-1.png
  static/img/doc-imgs/operators-staking/RPC-2.png
  static/img/doc-imgs/operators-staking/RPC-3.png
  versioned_docs/version-latest/farming-&-staking/staking/operators.mdx
Labels: do not merge, breaking-change

#356 Remove `High RAM Consumption` from windows guides
  docs/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  docs/farming-&-staking/farming/pulsar/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/advanced-cli/platforms/_windows.mdx
  versioned_docs/version-latest/farming-&-staking/farming/pulsar/platforms/_windows.mdx
Labels: enhancement

#355 Refactor `main.yml` Workflow for Parallel Jobs & Update `test.yml` Workflow for Proper Testing
  .github/workflows/main.yml
  .github/workflows/test.yaml
Labels: enhancement
